{% extends "base.html" %}

{% block title %}Auto-Validate Routing{% endblock %}

{% block content %}
    <div class="container">
        <h1>Auto-Validate Routing</h1>
        The idea is to automate the validation of all the data collected based on Vnet and Firewall<br>
        However a lot of improves still need to be done, it works but for now I do not recommend to use since I stoped to work on this feature. <br> 
        <form action="/auto-validate" method="post">
            <div class="mb-3">
                <label for="subscription_id" class="form-label">Hub Subscription ID:</label>
                <input type="text" name="subscription_id" id="subscription_id" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="firewall_ip" class="form-label">Hub Firewall IP Address:</label>
                <input type="text" name="firewall_ip" id="firewall_ip" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Validate Routing</button>
        </form>

        {% if issues is not none %}
            {% if issues %}
                <h2>Validation Issues</h2>
                <table class="table table-dark table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Subscription</th>
                            <th>Route Table Name</th>
                            <th>Route Name</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for issue in issues %}
                            <tr>
                                <td>{{ issue.subscription }}</td>
                                <td>{{ issue.route_table_name }}</td>
                                <td>{{ issue.route_name }}</td>
                                <td>{{ issue.description }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No issues found. Routing configuration is correct.</p>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}